* {
    margin: 0;
    box-sizing: border-box;
}

/* header with panel navigation*/
#header {
    width: 100%;
    background-color: #cec3c8;
    font: 20px "Fira Sans", sans-serif;
}

.nav {
    display: flex;
    justify-content: space-around;
    flex-wrap: nowrap;
    padding: 20px 0;
    width: 100%;
    flex-direction: row;
    align-self: center;
    align-items: center;
}

@media screen and (max-width: 818px) {
    .nav {
        display: flex;
        justify-content: space-around;
        flex-wrap: nowrap;
        width: 100%;
        flex-direction: column;
        align-self: center;
        align-items: center;
    }
}

.nav h1 {
    padding-left: 10px;
    text-align: center;
    color: #251c1c;
    align-items: center;
    font: small-caps bold 30px "Georgia", serif;
    align-self: center;
}

.nav ul {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    width: 100%;
    align-self: center;
    flex-wrap: wrap ;
}

@media screen and (max-width: 818px) {
    .nav ul {
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        width: 100%;
        align-self: center;
        flex-wrap: wrap ;
        align-items: center;
        padding-right: 40px;
    }
}
.nav li {
    list-style-type: none;
}


#header a {
    color: #251c1c;
    text-decoration: none;
    display: block;
    align-items: center;
    font: small-caps 20px "Georgia", serif;
    align-self: center;
}


#header a:hover {
    color: #a47053;
}


/* main content */
#main {
    background-color: #554853;
    color: #d6d0d0;
    display: flex;
    flex-direction: row;
    font: 25px "Fira Sans", sans-serif;
    width: 100%;
    line-height: 30px;
    letter-spacing: 1px;
}


@media screen and (max-width: 818px) {
    #main {
        display: flex;
        flex-direction: column;
    }
  }

/* aside panel with contact information*/
#main .aside {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    background-color: #605c64;
    letter-spacing: 1px;
    padding: 10px;
}

@media screen and (max-width: 818px) {
    #main .aside {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: #605c64;
        letter-spacing: 1px;
        padding: 10px;
    }
}

.aside img {
    width: 100%;
}

.aside section {
    width: 100%;
}

.aside h2 {
    color: #251c1c;
    padding: 10px;
    text-align: center;
    font: small-caps bold 30px "Georgia", serif;
    background-color: #a29a9d;
    margin: 10px 0;
}

.aside h3 {
    text-align: left;
    padding-left: 10px;
    line-height: 25px;
    border-bottom: 2px solid #cec3c8;
    padding-bottom: 10px;
}

.aside p {
    padding: 10px;
    margin: 10px 0;
    line-height: 25px;
    color: #cec3c8;
    word-wrap: break-word;
}

/* main content with my personality */

#main article {
    width: 100%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

article h3 {
    color: #251c1c;
    background-color: #a29a9d;
    font: small-caps bold 25px "Georgia", serif;
    text-align: left;
    padding: 10px;
} 


article h2 {
    padding: 10px;
    line-height: 40px;
}



article .about_me {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}


article .about_me h4 {
    padding: 20px;
    line-height: 30px;
    display: block;
    font: 20px "Georgia", serif;
}


article .education {
    display: flex;
    flex-direction: column;
}


article .education ul {
    padding: 10px 30px;
}

article .education li {
    margin: 10px 0;
    word-wrap: break-word;
    font: 20px "Georgia", serif;
}


article .skills {
    display: flex;
    flex-direction: column;
}

article .skills ul {
    padding: 10px 30px;
}

article .skills li {
    margin: 10px 0;
    font: 20px "Georgia", serif;
}

article .example {
    display: flex;
    flex-direction: column;
}

.scroll{
    background: #d6d0d0;
    border: 1px solid #a29a9d; 
    overflow: auto; 
    color: #251c1c;
    font-size: 15px;
    padding: 10px;
}

@media screen and (max-width: 818px) {
    article .scroll {
        font-size: 5px;
    }
}

.projects {
    padding-top: 10px;
}
.projects a{
    text-decoration: none;
    font: 20px "Georgia", serif;
    align-self: center;
    color: #d6d0d0;
}




/* footer of my page */

footer {
    display: flex;
    justify-content: space-around;
    width: 100%;
    background-color: #cec3c8;
    align-items: center;
    color: #251c1c;
    font: 20px "Fira Sans", sans-serif;
    font-weight: bold;
}

footer a {
    color: #251c1c;
    text-decoration: none;
    display: block;
}

#logo {
    width: 70px;
    height: 70px;
}