#header {
    width: 100%;
    background-color: #cec3c8;
    font: 15px "Fira Sans", sans-serif;
}

.nav {
    display: flex;
}
#header a {
    color: #a47053;
    text-decoration: none;
}

#header li {
    list-style-type: none;
}

#main {
    background-color: #ecdab9;
    color: #909cac;
}